@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    margin: 0;
    padding: 0;
}

button {
    padding: 0 20px;

    align-items: center;

    border-radius: 3px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.button1 {
    line-height: 32px;

    background-color: #0000;
    border: 2px solid #F4A629;
    color: #F4A629;
}

.button2 {
    line-height: 36px;

    background: linear-gradient(180deg, #EAA61E 0%, rgba(234, 166, 30, 0) 100%), #E6890E;
    border: none;
    color: #fff;
}

header {
    display: flex;

    width: auto;
    height: 120px;

    padding: 0 130px;

    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    header img {
        height: 40px;
    }

    header .button-container {
        display: flex;

        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

.hero {
    display: flex;

    width: auto;
    height: 380px;

    align-items: center;
    justify-content: center;

    background: url(background_blue.png) no-repeat center;
    background-size: cover;
}

    .hero h1 {
        display: block;

        margin: 0 250px;

        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
        font-weight: 700;
        text-align: center;

        color: #fff;
    }

.card-container {
    display: flex;
    
    margin: 0 130px;

    justify-content: space-between;
}

    .card {
        display: flex;

        margin: 0 50px;
        width: 100%;

        flex-direction: column;
        align-items: center;
    }

        .card .image-container {
            display: flex;

            height: 150px;

            align-items: center;
            justify-content: center;
        }

        .card h2 {
            margin: 0 10px;
            margin-bottom: 12px;

            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }

        .card p {
            margin: 0;

            font-family: 'Open-Sans', sans-serif;
            font-size: 14px;
            line-height: 1.6em;
            text-align: center;

            color: #637381;
        }

.button-container2 {
    display: flex;

    margin: 50px 0;

    justify-content: center;
}

#link-container-container-container {
    display: flex;

    padding: 50px 130px;

    justify-content: space-between;
    gap: 50px;
}

    .link-container-container {
        display: flex;

        width: 100%;
        
        flex-direction: column;
    }

        .link-container-container h2 {
            margin: 0;

            font-family: 'Open Sans', sans-serif;
            font-size: 16px;

        }

        .link-container {
            display: flex;

            padding: 0;

            flex-direction: column;

            justify-content: space-between;
            gap: 3px;

            list-style-type: none;
        }
        
            .link {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }

                .link a {
                    text-decoration: none;
                    color: #007ace;
                }

footer {
    display: flex;

    height: 150px;
    padding: 0 130px;
    
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
}

    footer .content {
        display: flex;
        
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

        .content img {
            height: 30px;
        }

        .content ul {
            display: flex;

            padding: 0;

            align-items: center;
            justify-content: space-between;
            gap: 30px;

            list-style-type: none;
        }

            .content ul li {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }

                .content ul li a {
                    text-decoration: none;
                    color: #637381;
                }

    footer p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;

        color: #637381;
    }